swagger: '2.0'
info:
  title: Access Control Point API
  description: Interface where SMS access to RISIS datasets
  version: "0.3"
# the domain of the service
host: api.risis.eu
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /datasets:
    get:
      summary: List of available datasets.
      description: |
        List of available datasets and their urls.
      tags:
        - Datasets
      responses:
        200:
          description: An array of object with datasets names and urls.
          schema:
            type: array
            items:
              $ref: '#/definitions/Dataset'
  /datasets/{datasetName}:
    get:
      summary: Metadata of datasets.
      description: |
        The datasets metadata.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
      tags:
        - Datasets
        - Entities
      responses:
        200:
          description: An object with metadata about dataset.
          schema:
            type: object
            items:
              $ref: '#/definitions/Metadata'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /datasets/{datasetName}/entities:
    get:
      summary: List of available entity types.
      description: List of entity types and urls for the current dataset.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
      tags:
        - Datasets
        - Entities
      responses:
        200:
          description: An array of available entities.
          schema:
            type: array
            items:
              $ref: '#/definitions/Entity'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /datasets/{datasetName}/entities/{entityType}:
    get:
      summary: Request data for a specific entity type.
      description: Query on entity.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
        - name: entityType
          in: path
          description: Type of the entity.
          required: true
          type: string
        - name: offset
          in: query
          description: The id of the first record that will be send.
          required: false
          type: integer
        - name: limit
          in: query
          description: The maximum number of records that will be sens.
          required: false
          type: integer
      tags:
        - Datasets
        - Entities
      responses:
        200:
          description: An array of entities with a specific given type.
          schema:
            type: array
            items:
              $ref: '#/definitions/EntityType'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /datasets/{datasetName}/entities/{entityType}/count:
    get:
      summary: Number of records for a given entity.
      description: Count the number of records for an entity of the dataset.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
        - name: entityType
          in: path
          description: Type of the entity.
          required: true
          type: string
      tags:
        - Entities
      responses:
        200:
          description: The number of records for the current entity type.
          schema:
            type: integer
  /datasets/{datasetName}/relations:
    get:
      summary: List of available relations between entities.
      description: List of relations together with the corresponding entity types.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
      tags:
        - Datasets
        - Relations
      responses:
        200:
          description: An array of available relations.
          schema:
            type: array
            items:
              $ref: '#/definitions/Relation'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'  
  /datasets/{datasetName}/relations/{relationName}/count:
    get:
      summary: Number of records for a given relation.
      description: Count the number of records for a relation in the dataset.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
        - name: relationName
          in: path
          description: Name of the relation.
          required: true
          type: string
      tags:
        - Relations
      responses:
        200:
          description: The number of records for the current relation.
          schema:
            type: integer            
  /datasets/{datasetName}/relations/{relationName}:
    get:
      summary: Request data for a specific relation.
      description: Query on relation.
      parameters:
        - name: datasetName
          in: path
          description: Dataset name.
          required: true
          type: string
        - name: relationName
          in: path
          description: Name of the relation.
          required: true
          type: string
        - name: offset
          in: query
          description: The id of the first record that will be send.
          required: false
          type: integer
        - name: limit
          in: query
          description: The maximum number of records that will be sens.
          required: false
          type: integer
      tags:
        - Datasets
        - Relations
      responses:
        200:
          description: An array containing all relations with a specific name.
          schema:
            type: array
            items:
              $ref: '#/definitions/RelationName'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Dataset:
    type: object
    properties:
      name:
        type: string
        description: Unique identifier representing a specific dataset.
      path:
        type: string
        description: Url Path where the dataset is accessible.
  Entity:
    type: object
    properties:
      name:
        type: string
        description: Unique identifier representing a specific entity.
      path:
        type: string
        description: Url Path where the entity is accessible.
  Relation:
    type: object
    properties:
      name:
        type: string
        description: Unique identifier representing a specific relation.
      path:
        type: string
        description: Url Path where the relation is accessible.        
  Metadata:
    type: object
    properties:
      name:
        type: string
        description: Unique identifier representing a specific dataset.
  EntityType:
    type: object
    properties:
      entityID:
        type: string
        description: id of the entity
      properties:
        $ref: '#/definitions/EntityProperties'
  EntityProperties:
    type: object
    properties:
      property:
        type: string
        description: name of the property
      value:
        type: string
        description: value of the property   
  RelationName:
    type: object
    properties:
      relationName:
        type: string
        description: name of the relation
      properties:
        $ref: '#/definitions/RelationProperties'
  RelationProperties:
    type: object
    properties:
      source:
        type: string
        description: id of the source entity
      target:
        type: string
        description: id of the target entity
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
